<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit username</title>
</head>

<body>
    <h1>you are about to edit username of : <%= user.email%>
    </h1>
    <form method="post" action="/user/<%=user.id%>?_method=PATCH">
        <p>edit username <br> <textarea name="username" id=""> <%= user.username %> </textarea></p>
        password <input type="password" placeholder="enter your password" name="password">  <br> <br><button>edit</button>
    </form>

</body>

</html>