<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add your new chat</title>
</head>
<body>
    <h3>add your new chat</h3>
    <form action="/chats" method="post">
        <input type="text" name="from" id="" placeholder="from"> <br><br>
        <textarea name="msg" id="" placeholder="type the message"></textarea><br><br>
        <input type="text" name="to" id="" placeholder="send to?"> <br><br>
        <button>Submit</button>
    </form>
</body>
</html>