<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADD POST</title>
</head>
<body>
    <h1>add your post here</h1>
    <form action="/posts" method="post">
        <label for="username"></label>
        <input type="text" name="username" id="username" required> <br>
        <label for="content">enter the content</label>  <br>
        
        <textarea type="textarea" name="content" id="content" placeholder="enter the text here" required> </textarea>

        <button>submit</button>

    </form>
</body>
</html>