<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>posts</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    
    <h1>quora</h1>
    <button><a href="http://localhost:3000/posts/new">Add Post</a></button>
    <% for (post of posts) { %>
       <h2>@<%= post.username%></h2>  
       <%= post.content%> <br>
    <% } %>

    
</body>
</html>