<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
</head>
<body>
    <h1>this is home</h1>
    <h1> <%= 2*3%></h1>
    <h1> <%= ['are','yaar'][0]%></h1>   
    <!-- we basically use this tag for getting outputs and treating them as strings, we can run js in it too -->
    <br>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus quae fugiat et architecto voluptatum beatae necessitatibus adipisci, vero perspiciatis eligendi velit mollitia odit maiores sed officiis magni earum libero rerum?
    Sint eaque, iure vitae totam voluptas non praesentium odit. Architecto cumque quos in exercitationem reprehenderit, minus sit magni enim laborum nobis porro doloremque impedit, molestias possimus illo ipsam quam excepturi.
    Modi ut ipsa reprehenderit repudiandae ipsum laborum tempore eos sunt porro sequi distinctio, fugit ab facere! Ratione error porro, tenetur nisi expedita culpa placeat tempora impedit sint aut. Voluptates, officiis.
    Ipsa tenetur libero, maxime obcaecati doloremque rerum consequuntur recusandae maiores minus, placeat ipsum autem veniam dolor veritatis magnam voluptates similique cumque! Atque voluptate dicta recusandae, minus repellendus illum incidunt laudantium!
    Quia et natus perferendis! Maiores officia aperiam, vel quaerat ullam nostrum ducimus fugit delectus quasi minima animi iure iusto, aliquam explicabo eligendi nobis doloremque at autem sint a harum tempore.</p>
    <button>click meeeee !</button>
</body>
</html>